<div class="balance-container">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Your Balance</h2>
        <div>
            <button routerLink="/wallet/deposit" mat-raised-button color="primary">Recharge</button>    
        </div>
    </div>
    
    <mat-card class="balance-card">
      <mat-card-content class="d-flex align-items-center justify-content-between">
        <span class="fs-6">Your current balance</span>
        <span class="fs-3"><mat-icon class="fw-bolder">&#8377;</mat-icon>{{ balance }}</span>
      </mat-card-content>
    </mat-card>
  </div>