<div class="container-fluid h-100">
    <div class="row">resetForm
        <div class="d-flex justify-content-center my-5">
            <mat-card class="" style="width: 400px;">
                <mat-card-content>
                    <div class="">
                        <div class="d-flex justify-content-between align-items-center pb-3">
                            <div class="text-muted  h5"><span>Reset Your Password</span></div>
                        </div>
                       <div class="w-100">
                            <form [formGroup]="resetForm">
                                <mat-form-field class="w-100 mb-4" appearance="outline">
                                    <mat-label class="bold">New Password</mat-label>
                                    <mat-icon matPrefix>vpn_key</mat-icon>
                                    <input matInput placeholder="Enter strong Password" formControlName="password">
                                    <!-- <mat-error *ngIf="resetForm.get('password').hasError('required')">Enter password</mat-error> -->
                                    <mat-error *ngIf="resetForm.hasError('required','password') &&  resetForm.controls['password'].dirty ">Enter password</mat-error>
                                </mat-form-field>
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Cofirm Password</mat-label>
                                    <mat-icon matPrefix>vpn_key</mat-icon>
                                    <input matInput placeholder="Enter again strong Password" formControlName="confimPassword">
                                    <!-- <mat-error *ngIf="resetForm.get('confimPassword').hasError('required','confimPassword')">Enter password</mat-error> -->
                                    <mat-error *ngIf="resetForm.hasError('required','confimPassword') &&  resetForm.controls['confimPassword'].dirty ">Re Enter password</mat-error>
                                </mat-form-field>
                            </form>
                        </div>
                        <div>
                            <button mat-raised-button class="w-100 text-white p-2" color="primary" (click)="onSubmit(resetForm)">Submit</button>
                        </div>
                       </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
  
</div>
  