<div class="transaction-history-container p-3 bg-card">
    <h2 class="text-center my-3">Transaction History</h2>
    <mat-card >
      <mat-list *ngFor="let transaction of transactions" class="p-2">
        <mat-list-item class="my-0 ">
          <div class="d-flex justify-content-between">
              <div class="d-flex flex-column">
                <span class="fw-bold">Date</span>
                <span class="fs-12">{{ transaction.date | date }}</span>
              </div>
              <div class=" d-flex flex-column align-items-center">
                 <span [class]="transaction.type === 'deposit' || transaction.type === 'Gamewin' ?'text-success':'text-danger' " >
                  <span class="fs-12 text-capitalize" [class]="transaction.type === 'deposit' || transaction.type === 'Gamewin'  ?'text-success':'text-danger' ">{{transaction.type }}</span>
                </span>
                <div class="d-flex flex-row">
                  <mat-icon class="fs-6 mt-1" [class]="transaction.type === 'deposit' || transaction.type === 'Gamewin' ?'text-success':'text-danger' ">{{transaction.type === 'deposit' || transaction.type === 'Gamewin' ?'add':'remove'}} </mat-icon> 
                  <span class="fw-bold" [class]="transaction.type === 'deposit' || transaction.type === 'Gamewin' ?'text-success':'text-danger' ">{{transaction.amount }}</span>
                </div>
              </div>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-card>
  </div>