<div class="container-fluid h-100">
    <div class="row">
        <div class="d-flex justify-content-center my-5">
            <mat-card class="" style="width: 500px;">
                <mat-card-content>
                    <div class="">
                        <div class="d-flex justify-content-between align-items-center pb-3">
                            <div class="text-muted h5"><span>UPDATE PROFILE</span></div>
                        </div>
                        <div class="w-100">
                            <form>
                                <mat-form-field>
                                  <!-- <input matInput placeholder="Account Number" [(ngModel)]="accountNumber"> -->
                                </mat-form-field>
                                <mat-form-field>
                                  <!-- <input matInput placeholder="Bank Name" [(ngModel)]="bankName"> -->
                                </mat-form-field>
                                <mat-form-field>
                                  <!-- <input matInput placeholder="Bank Branch" [(ngModel)]="bankBranch"> -->
                                </mat-form-field>
                                <mat-form-field>
                                  <!-- <input matInput placeholder="ISDFC Code" [(ngModel)]="isdfcCode"> -->
                                </mat-form-field>
                                <mat-form-field>
                                  <!-- <input matInput placeholder="Account Holder Name" [(ngModel)]="accountHolderName"> -->
                                </mat-form-field>
                                <mat-dialog-actions>
                                    <!-- <button mat-button (click)="onSubmit()">Submit</button> -->
                                  </mat-dialog-actions>
                              </form>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>