<div class="container-fluid p-1 clock-container">
    <div class="overlay" *ngIf="makeButtonDisabled">
        <!-- <p>Wait for Result!</p> -->
      </div>    
    <div class="container">
        <!-- Header for Game start -->
        <div class="row py-2 rounded bg-success">
            <div class="py-2 text-white fs-5">
                <span>Available Balance: </span>
                <mat-icon>&#8377;</mat-icon>
                <span>{{balance}}</span>
            </div>
            <div class="d-flex justify-content-between py-2">
                <div class="d-flex gap-2">
                    <button mat-raised-button color="primary" routerLink="/wallet/deposit"> Recharge</button>
                    <button mat-stroked-button class="text-white"> Trend</button>
                </div>
                <div class="text-white">
                    <mat-icon>refresh</mat-icon>
                </div> 
            </div>
        </div>
        <div class="row bg-white">
            <div class="d-flex justify-content-center py-3">
                <span class="fs-6 fw-bold">Parity</span>
            </div>
            <hr>
        </div>
        <!-- Header for Game End -->
        <!-- count down and Periods Start -->
        <div class="row bg-white">
            <div class="d-flex justify-content-between py-2">
                <div class="">
                    <div class="d-flex align-items-center fs-6 fw-bold gap-1 pb-1">
                        <mat-icon>emoji_events</mat-icon>
                        <span>Period</span>
                    </div>
                    <div class="fs-5">
                        <span>{{gameId}}</span>
                    </div>
                </div>
                <div class="text-center">
                    <div class="fs-6 fw-bold py-1">Count Down</div>
                    <div class="fs-4">{{  getTimeLeft() }}</div>
                </div>
            </div>
        </div>
        <!-- count down and Periods End -->
        <!-- Button Start -->
        <div class="row bg-white" >
            <div class="d-flex py-3 bg-white justify-content-around gap-3">
                <button mat-raised-button class="w-100" [ngClass]="{'bg-success text-white':!last30Seconds && !makeButtonDisabled}" [disabled]="last30Seconds || makeButtonDisabled" (click)="openPopup(10)">JOIN GREEN</button>
                <button mat-raised-button class="w-100" [ngClass]="{'bg-primary text-white':!last30Seconds && !makeButtonDisabled}" [disabled]="last30Seconds || makeButtonDisabled" (click)="openPopup(11)">JOIN BLUE</button>
                <button mat-raised-button class="w-100" [ngClass]="{'bg-danger text-white':!last30Seconds && !makeButtonDisabled}" [disabled]="last30Seconds || makeButtonDisabled" (click)="openPopup(12)">JOIN RED</button>
            </div>
            <div class="d-flex py-3 bg-white justify-content-between gap-1">
                 <button mat-raised-button class="w-100" [ngClass]="{'diagonal-button-blueGreen text-white':!last30Seconds && !makeButtonDisabled}" [disabled]="last30Seconds || makeButtonDisabled" (click)="openPopup(0)">0</button>
                 <button mat-raised-button class="w-100" [ngClass]="{'bg-success text-white':!last30Seconds && !makeButtonDisabled}" [disabled]="last30Seconds || makeButtonDisabled" (click)="openPopup(1)">1</button>
                 <button mat-raised-button class="w-100" [ngClass]="{'bg-danger text-white':!last30Seconds && !makeButtonDisabled}" [disabled]="last30Seconds || makeButtonDisabled" (click)="openPopup(2)">2</button>
                 <button mat-raised-button class="w-100" [ngClass]="{'bg-success text-white':!last30Seconds && !makeButtonDisabled}" [disabled]="last30Seconds || makeButtonDisabled" (click)="openPopup(3)">3</button>
                 <button mat-raised-button class="w-100" [ngClass]="{'bg-danger text-white':!last30Seconds && !makeButtonDisabled}" [disabled]="last30Seconds || makeButtonDisabled" (click)="openPopup(4)">4</button>
            </div>
            <div class="d-flex py-3 bg-white justify-content-between gap-1">
                <button mat-raised-button class="w-100" [ngClass]="{'diagonal-button-blueRed text-white':!last30Seconds && !makeButtonDisabled}" [disabled]="last30Seconds || makeButtonDisabled" (click)="openPopup(5)">5</button>
                <button mat-raised-button class="w-100" [ngClass]="{'bg-danger text-white':!last30Seconds && !makeButtonDisabled}" [disabled]="last30Seconds || makeButtonDisabled"(click)="openPopup(6)">6</button>
                <button mat-raised-button class="w-100" [ngClass]="{'bg-success text-white':!last30Seconds && !makeButtonDisabled}" [disabled]="last30Seconds || makeButtonDisabled"(click)="openPopup(7)">7</button>
                <button mat-raised-button class="w-100" [ngClass]="{'bg-danger text-white':!last30Seconds && !makeButtonDisabled}" [disabled]="last30Seconds || makeButtonDisabled"(click)="openPopup(8)">8</button>
                <button mat-raised-button class="w-100" [ngClass]="{'bg-success text-white':!last30Seconds && !makeButtonDisabled}" [disabled]="last30Seconds || makeButtonDisabled"(click)="openPopup(9)">9</button>
           </div>
        </div>
        <!-- Button End -->
        <!-- Periods Table Start -->
        <div class="row bg-white py-3 mb-5">
            <div class="d-flex justify-content-center align-items-center gap-2 fs-5 fw-bold my-2">
                <mat-icon>emoji_events</mat-icon>
                <span>Parity Record</span>
            </div>
            <div class="mat-elevation-z8 py-3">
                <table mat-table [dataSource]="dataSource" matSort>
              
                  <!-- ID Column -->
                  <ng-container matColumnDef="gameId">
                    <th mat-header-cell *matHeaderCellDef> Period </th>
                    <td mat-cell *matCellDef="let row"> {{row.gameId}} </td>
                  </ng-container>
              
                  <!-- Progress Column -->
                  <ng-container matColumnDef="priceGiven">
                    <th mat-header-cell *matHeaderCellDef> Price Given </th>
                    <td mat-cell *matCellDef="let row"> {{row.priceGiven}} </td>
                  </ng-container>
              
                  <ng-container matColumnDef="colorWin">
                    <th mat-header-cell *matHeaderCellDef>Color win</th>
                    <td mat-cell *matCellDef="let row"> {{row.colorWin}} </td>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="color">
                    <th mat-header-cell *matHeaderCellDef> Color win </th>
                    <td mat-cell *matCellDef="let row"> 
                        <div *ngIf="row.colorWin === '0'">
                            <mat-icon color="green">fiber_manual_record</mat-icon>
                            <mat-icon color="primary">fiber_manual_record</mat-icon>
                        </div>
                        <div *ngIf="row.colorWin === '5'">
                            <mat-icon color="warn">fiber_manual_record</mat-icon>
                            <mat-icon color="primary">fiber_manual_record</mat-icon>
                        </div>
                        <div *ngIf="row.colorWin !== '0' && row.colorWin !== '5' ">
                            <mat-icon [color]="row.color">fiber_manual_record</mat-icon>
                        </div>
                     </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="d-flex justify-content-start">
                    <mat-paginator [pageSizeOptions]="[ 5, 10, 25, 100]"></mat-paginator>
                </div>
              </div>
        </div>
        <!-- Periods Table End -->
    </div>
     
</div>