<div class="container-fluid h-100">
    <div class="row">
        <div class="d-flex justify-content-center my-5">
            <mat-card class="" style="width: 400px;">
                <mat-card-content>
                    <div class="">
                        <div class="d-flex justify-content-between align-items-center pb-3">
                            <div class="text-muted  h5"><span>Forgot Password</span></div>
                        </div>
                       <div class="w-100">
                            <form [formGroup]="forgetForm">
                                <mat-form-field class="w-100 mb-4" appearance="outline">
                                    <mat-label class="bold">Email Address</mat-label>
                                    <mat-icon matPrefix>phone_iphone</mat-icon>
                                    <input matInput class="" placeholder="Enter Registered Email Address" formControlName="email">
                                    <mat-error *ngIf="forgetForm.get('email').hasError('required')">Invalid Email</mat-error>
                                </mat-form-field>
                            </form>
                        </div>
                        <div class="d-flex gap-2">
                            <button mat-raised-button class="text-white p-2" color="primary" (click)="onSubmit(forgetForm)">Send Email</button>
                            <button mat-raised-button class="p-2" color="Basic" routerLink="/login">Cancel</button>
                        </div>
                       </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
  
</div>
  